body {
    background-color: #f4faef;
    font-family: Roboto, Helvetica, sans-serif;
    font-weight:300;
}
.logo {
    width: 30vw;
    height: width/2;
    margin-left: auto;
    margin-right: auto;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25%;
}
.chatTitle { 
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-family: Roboto, Helvetica, sans-serif;
    font-weight:300;
    white-space: nowrap;
}
.welcome {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    font-family:system-ui;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 20px;
    border-radius: 2vmin;
}
.authText {
    margin-bottom: 20px;
    width: 30%
}
.authLabel {
    font-size: 20px;
}
.chatContainer {
    border-radius: 0;
    border: 3px solid rgba(0,0,0,0.2);
    height: 65vh;
    overflow-y: auto;
    display: block
}
label {
    font-size: 20px;
    text-align: left;
    width: 31vw;
    padding-top: 10px;
}
input {
    width: 30vw;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px gray;
}
.button {
    display: flex;
    justify-content: flex-start;
    color: black;
    background-color: #d8d4de;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-width: 0;
    margin: 4px 2px;
    font-family: Roboto, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    text-transform: uppercase;
    letter-spacing: 0.02857em;
    font-weight:300;
}
.button:hover {
    background-color: #a7a2ad;
    box-shadow:0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
.welcomebutton {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 20px;
}
.clearFriends {
    width: 100%;
    text-align: center;
    padding-top: 3vh;
}
.crossButton {
    color: red;
    font-size: 30px;
    border: none;
    background-color: transparent;
    padding: 0px;
    margin: 0px 0px;
    margin-left:auto;
    text-align:center;
    display: inline-block;
    cursor: pointer;
}
.inviteButton {
    display: flex;
    justify-content: flex-start;
    background-color: darkslategrey;
    color: white;
    border: 2px solid;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family:system-ui;
    cursor: pointer;
    border-radius: 5px;
}
.friendButton {
    margin-top: 1rem;
}
.crossButton:hover {
    background-color: #c4c4c4;
}
.clearfriendsButton:hover {
    background-color: #c4c4c4;
}
.inviteButton:hover {
    background-color: white;
    color: white;
}
.messageButton{
    height: 40px;
    font-size:16px;
    padding: 2px;
    align-self: center;
}
.message {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    width: 80%;
    height: 20vh;
    background-color:#b2ac88;
    border-radius: 2vmin;
    padding-right:20px;
}
.messageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    width: 100%;
    height: 100%;
    overflow-wrap: normal;
    text-align:top;
}
.newMessage {
    text-align: top;
    margin: .5%;
    width: 70%;
}
.bot {
    margin-right: auto;
}
.user {
    margin-left: auto;
}
.messagerDetails {
    display: flex;
    flex-direction: col;
    justify-content: center;
    align-items: center;
    width: 15%;
    flex-wrap: wrap;
}
.avatar {
    padding: 20% 5%;
    text-align:center;
    font-size: 25px;
    width:100%;
    height:50%;
}
.timeStamp {
    display: flex;
    padding: 7% 15%;
    padding-top: auto;
    text-align:center;
    font-size: 15px;
}
.bubble {
    flex:1;
    height: 70%;
    padding: 10px;
    border-radius: 2vmin;
    border: 2px solid #99686e;
    background-color: transparent;
    font-size: 16px;
    margin: 4px 2px;
}
.footer {
    display: flex;
    flex-direction: col;
    align-items: top;
    margin-top: 10px;
    padding-bottom: 20px;
}
.friendFooter {
    display: flex;
    flex-direction: row;
    background-color: #98a191;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 2vmin;
    padding: 1vmin;
}
.chatFooter {
    height: 15vh;
    padding: 0;
}
.addFriendCol {
    display: flex;
    flex-direction: row;
    width: 50%;
    float: left;
    flex-wrap:wrap;
}
.friendInput {
    margin: .5%;
    width: 100%;
    height: 15%;
}
.friendLabel {
    align-items:center;
    justify-content:center;
    padding-left:4px;
}
.friendList {
    align-items: center;
    height: 50vh;
    overflow-y: auto;
    width:95%;
    margin-left:auto;
    margin-right:auto;
}
.friendDets {
    font-size: 20px;
    text-align: left;
    justify-self: center;
    width: 80%;
    padding-bottom: 1vmin;
}
.friend {
    display: flex;
    flex-direction: row;
    width: 97%;
    padding: 1vmin;
    border-radius: 2vmin;
    background-color: #b2ac88;
    margin: 1vmin;
    flex-wrap: wrap;
    align-items: center;
}
.inviteCheck {
    margin: .5%;
    width: 15px;
    height: 15px;
}
.aboutText {
    color: white;
    font-size: 20px;
    text-align: left;
    justify-self: center;
    font-family:system-ui;
    padding: 1vmin;
}