body {
    background-color: white;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25%;
}
.chatTitle { 
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-weight: bold;
    font-family:system-ui;
    white-space: nowrap;
}
.welcome {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    font-family:system-ui;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
.body-container {
    display: flex;
    flex-direction: column;
    background-color:darkslategrey;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 20px;
    border-radius: 2vmin;
}
.chatContainer {
    background-color: white;
    border-radius: 0;
    border: 3px solid;
    height: 65vh;
    overflow-y: scroll;
    scroll-behavior: auto;
}
.friendList {
    background-color: white;
    align-items: center;
    height: 50vh;
    overflow-y: scroll;
    width:95%;
    margin-left:auto;
    margin-right:auto;
}
label {
    color: white;
    font-size: 20px;
    text-align: left;
    width: 31vw;
    padding-top: 10px;
    font-family:system-ui;
}
input {
    width: 30vw;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px gray;
}
.button {
    display: flex;
    justify-content: flex-start;
    background-color: white;
    color: black;
    border: 2px solid;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family:system-ui;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}
.friendButton {
    font-size:13px;
    padding: 5px;
}
.button:hover {
    background-color: navy;
    color: white;
}
.messageButton{
    height: 60%;
    font-size:16px;
    padding: 2px;
}
.welcomebutton {
    background-color: white;
    color: black;
    border: 3px solid;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    font-family:system-ui;
}
.message {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    width: 80%;
    height: 30%;
    background-color:darkslategrey;
    border-radius: 2vmin;
}
.bot {
    align-self: flex-start;
}
.user {
    align-self: flex-end;
}
.messagerDetails {
    display: flex;
    flex-direction: col;
    justify-content: center;
    align-items: center;
    width: 10%;
    flex-wrap: wrap;
}
.avatar {
    display: flex;
    padding: 10% 20%;
    background-color: navy;
    color: white;
    text-align:center;
    font-size: 16px;
    font-family:system-ui;
    border-radius: 50%;
}
.timeStamp {
    display: flex;
    padding: 7% 15%;
    color: white;
    text-align:center;
    font-size: 10px;
    font-family:system-ui;
}
.bubble {
    width: 80%;
    height: 70%;
    padding: 10px;
    border-radius: 2vmin;
    background-color:#4C1C24;
    font-size: 16px;
    color: white;
    margin: 4px 2px;
    font-family:system-ui;
}
.footer {
    display: flex;
    flex-direction: col;
    background-color: white;
    align-items: top;
    margin-top: 10px;
    padding-bottom: 20px;
    height: 20vh;
}
.friendFooter {
    display: flex;
    flex-direction: row;
    background-color: #4c3a47;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 2vmin;
    padding: 1vmin;
}
.addFriendCol {
    display: flex;
    flex-direction: row;
    width: 50%;
    float: left;
    flex-wrap:wrap;
}
.friendInput {
    margin: .5%;
    width: 100%;
    height: 15%;
}
.friendLabel {
    align-items:center;
    justify-content:center;
    padding-left:4px;
}
.messageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    width: 100%;
    height: 10vmin;
}
.newMessage {
    text-align: top;
    margin: .5%;
    width: 70%;
    height: 15%;
}
.friend {
    width: 97%;
    padding: 1vmin;
    border-radius: 2vmin;
    background-color:darkslategrey;
    margin: 1vmin;
}
.friendDets {
    color: white;
    font-size: 15   px;
    text-align: left;
    width: 31vw;
    padding-bottom: 1vmin;
    font-family:system-ui;
}